<a href="https://colab.research.google.com/github/Deeksha0209/Merged-Datasets-/blob/main/Fertlity_Rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#reading lib, importing dataset and downloading
from google.colab import files
uploaded = files.upload()

Saving fertility_rate.csv to fertility_rate (7).csv

In [ ]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('fertility_rate.csv')
print(df1)

     Country Name Country Code                            Indicator Name  \
0           Aruba          ABW  Fertility rate, total (births per woman)
1     Afghanistan          AFG  Fertility rate, total (births per woman)
2          Angola          AGO  Fertility rate, total (births per woman)
3         Albania          ALB  Fertility rate, total (births per woman)
4         Andorra          AND  Fertility rate, total (births per woman)
..            ...          ...                                       ...
259        Kosovo          XKX  Fertility rate, total (births per woman)
260   Yemen, Rep.          YEM  Fertility rate, total (births per woman)
261  South Africa          ZAF  Fertility rate, total (births per woman)
262        Zambia          ZMB  Fertility rate, total (births per woman)
263      Zimbabwe          ZWE  Fertility rate, total (births per woman)

     Indicator Code   1960   1961   1962   1963   1964   1965  ...   2007  \
0    SP.DYN.TFRT.IN  4.820  4.655  4.471  4.271  4.059  3.842  ...  1.763
1    SP.DYN.TFRT.IN  7.450  7.450  7.450  7.450  7.450  7.450  ...  6.460
2    SP.DYN.TFRT.IN  7.478  7.524  7.563  7.592  7.611  7.619  ...  6.368
3    SP.DYN.TFRT.IN  6.489  6.401  6.282  6.133  5.960  5.773  ...  1.668
4    SP.DYN.TFRT.IN    NaN    NaN    NaN    NaN    NaN    NaN  ...  1.180
..              ...    ...    ...    ...    ...    ...    ...  ...    ...
259  SP.DYN.TFRT.IN    NaN    NaN    NaN    NaN    NaN    NaN  ...  2.430
260  SP.DYN.TFRT.IN  7.488  7.531  7.575  7.621  7.665  7.705  ...  5.090
261  SP.DYN.TFRT.IN  6.041  6.028  6.010  5.986  5.956  5.920  ...  2.636
262  SP.DYN.TFRT.IN  7.115  7.169  7.214  7.249  7.274  7.291  ...  5.642
263  SP.DYN.TFRT.IN  7.158  7.215  7.267  7.311  7.347  7.373  ...  4.001

      2008   2009   2010   2011   2012   2013   2014   2015   2016
0    1.764  1.769  1.776  1.783  1.791  1.796  1.800  1.801  1.800
1    6.254  6.038  5.816  5.595  5.380  5.174  4.981  4.802  4.635
2    6.307  6.238  6.162  6.082  6.000  5.920  5.841  5.766  5.694
3    1.650  1.646  1.653  1.668  1.685  1.700  1.710  1.714  1.713
4    1.250  1.190  1.270    NaN    NaN    NaN    NaN    NaN    NaN
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
259  2.380  2.340  2.290  2.240  2.190  2.160  2.130  2.090  2.060
260  4.940  4.801  4.674  4.554  4.440  4.327  4.215  4.104  3.995
261  2.619  2.603  2.588  2.572  2.554  2.533  2.510  2.485  2.458
262  5.561  5.478  5.397  5.318  5.242  5.171  5.104  5.041  4.981
263  4.014  4.024  4.028  4.019  3.996  3.957  3.903  3.836  3.760

[264 rows x 61 columns]

In [ ]:
#listing top 5 entries
df1.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.820,4.655,4.471,4.271,4.059,3.842,...,1.763,1.764,1.769,1.776,1.783,1.791,1.796,1.800,1.801,1.800
1,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.450,7.450,7.450,7.450,7.450,7.450,...,6.460,6.254,6.038,5.816,5.595,5.380,5.174,4.981,4.802,4.635
2,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.478,7.524,7.563,7.592,7.611,7.619,...,6.368,6.307,6.238,6.162,6.082,6.000,5.920,5.841,5.766,5.694
3,Albania,ALB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.489,6.401,6.282,6.133,5.960,5.773,...,1.668,1.650,1.646,1.653,1.668,1.685,1.700,1.710,1.714,1.713
4,Andorra,AND,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.180,1.250,1.190,1.270,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#listing bottom 10 entries
df1.tail(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
254,Virgin Islands (U.S.),VIR,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,5.615000,5.651000,5.67900,5.696000,5.698000,5.679000,...,2.51000,2.440000,2.370000,2.300000,2.160000,2.050000,2.070000,2.090000,2.110000,2.090000
255,Vietnam,VNM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.348000,6.392000,6.42500,6.448000,6.464000,6.475000,...,1.91100,1.923000,1.936000,1.946000,1.953000,1.957000,1.959000,1.960000,1.958000,1.954000
256,Vanuatu,VUT,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.197000,7.120000,7.03300,6.938000,6.836000,6.730000,...,3.67900,3.608000,3.548000,3.498000,3.456000,3.419000,3.383000,3.348000,3.312000,3.275000
257,World,WLD,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.984026,5.011695,5.03659,5.058067,5.068204,5.049588,...,2.55264,2.542093,2.523626,2.508023,2.491963,2.483746,2.468328,2.461479,2.451845,2.439026
258,Samoa,WSM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.651000,7.645000,7.63000,7.604000,7.567000,7.519000,...,4.45000,4.426000,4.388000,4.338000,4.277000,4.212000,4.148000,4.086000,4.029000,3.976000
259,Kosovo,XKX,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.43000,2.380000,2.340000,2.290000,2.240000,2.190000,2.160000,2.130000,2.090000,2.060000
260,"Yemen, Rep.",YEM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.488000,7.531000,7.57500,7.621000,7.665000,7.705000,...,5.09000,4.940000,4.801000,4.674000,4.554000,4.440000,4.327000,4.215000,4.104000,3.995000
261,South Africa,ZAF,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.041000,6.028000,6.01000,5.986000,5.956000,5.920000,...,2.63600,2.619000,2.603000,2.588000,2.572000,2.554000,2.533000,2.510000,2.485000,2.458000
262,Zambia,ZMB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.115000,7.169000,7.21400,7.249000,7.274000,7.291000,...,5.64200,5.561000,5.478000,5.397000,5.318000,5.242000,5.171000,5.104000,5.041000,4.981000
263,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.158000,7.215000,7.26700,7.311000,7.347000,7.373000,...,4.00100,4.014000,4.024000,4.028000,4.019000,3.996000,3.957000,3.903000,3.836000,3.760000

In [ ]:
#a stats summary of df
df1.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,236.000000,237.000000,236.000000,235.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,...,249.000000,248.000000,248.000000,247.000000,248.000000,248.000000,246.000000,246.000000,247.000000,246.000000
mean,5.508217,5.493573,5.495798,5.495507,5.458346,5.415664,5.365999,5.327700,5.274330,5.219431,...,2.982628,2.960514,2.930631,2.905732,2.877849,2.843581,2.815190,2.791648,2.757183,2.728593
std,1.676953,1.693979,1.705126,1.706969,1.729399,1.759863,1.790858,1.795764,1.817663,1.836405,...,1.534014,1.498256,1.472809,1.448960,1.422939,1.394111,1.374751,1.342480,1.313863,1.290006
min,1.940000,1.940000,1.790000,1.820000,1.790000,1.740000,1.580000,1.800000,1.830000,1.870000,...,0.909000,0.957000,1.008000,1.061000,1.112000,1.160000,1.125000,1.205000,1.196000,1.172000
25%,4.322250,4.313000,4.245000,4.208500,4.049750,3.876500,3.744250,3.623250,3.452250,3.268000,...,1.790000,1.804318,1.802506,1.805500,1.801238,1.790750,1.782250,1.759834,1.759775,1.748500
50%,6.104500,6.073000,6.090896,6.131760,6.047000,5.983636,5.970271,5.954000,5.902500,5.804500,...,2.505000,2.448421,2.424099,2.410000,2.371500,2.343500,2.342500,2.331000,2.308000,2.283500
75%,6.767554,6.762000,6.775408,6.787614,6.783250,6.773954,6.772114,6.739091,6.726403,6.736561,...,3.883000,3.737750,3.724750,3.753000,3.807000,3.639000,3.651500,3.593250,3.511500,3.464500
max,8.187000,8.194000,8.197000,8.198000,8.198000,8.198000,8.198000,8.201000,8.207000,8.217000,...,7.566000,7.542000,7.515000,7.487000,7.455000,7.420000,7.381000,7.338000,7.290000,7.239000

In [ ]:
#sum of null values in each col
df1.isnull().sum()

Country Name       0
Country Code       0
Indicator Name     0
Indicator Code     0
1960              28
                  ..
2012              16
2013              18
2014              18
2015              17
2016              18
Length: 61, dtype: int64

In [ ]:
#getting the data types of each col
df1.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
Length: 61, dtype: object

In [ ]:
#Removing the extra/not required columns
df1=df1.drop(columns =['Indicator Name','Indicator Code'])
print(df1)

     Country Name Country Code   1960   1961   1962   1963   1964   1965  \
0           Aruba          ABW  4.820  4.655  4.471  4.271  4.059  3.842
1     Afghanistan          AFG  7.450  7.450  7.450  7.450  7.450  7.450
2          Angola          AGO  7.478  7.524  7.563  7.592  7.611  7.619
3         Albania          ALB  6.489  6.401  6.282  6.133  5.960  5.773
4         Andorra          AND    NaN    NaN    NaN    NaN    NaN    NaN
..            ...          ...    ...    ...    ...    ...    ...    ...
259        Kosovo          XKX    NaN    NaN    NaN    NaN    NaN    NaN
260   Yemen, Rep.          YEM  7.488  7.531  7.575  7.621  7.665  7.705
261  South Africa          ZAF  6.041  6.028  6.010  5.986  5.956  5.920
262        Zambia          ZMB  7.115  7.169  7.214  7.249  7.274  7.291
263      Zimbabwe          ZWE  7.158  7.215  7.267  7.311  7.347  7.373

      1966   1967  ...   2007   2008   2009   2010   2011   2012   2013  \
0    3.625  3.417  ...  1.763  1.764  1.769  1.776  1.783  1.791  1.796
1    7.450  7.450  ...  6.460  6.254  6.038  5.816  5.595  5.380  5.174
2    7.618  7.613  ...  6.368  6.307  6.238  6.162  6.082  6.000  5.920
3    5.581  5.394  ...  1.668  1.650  1.646  1.653  1.668  1.685  1.700
4      NaN    NaN  ...  1.180  1.250  1.190  1.270    NaN    NaN    NaN
..     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
259    NaN    NaN  ...  2.430  2.380  2.340  2.290  2.240  2.190  2.160
260  7.737  7.760  ...  5.090  4.940  4.801  4.674  4.554  4.440  4.327
261  5.878  5.832  ...  2.636  2.619  2.603  2.588  2.572  2.554  2.533
262  7.304  7.317  ...  5.642  5.561  5.478  5.397  5.318  5.242  5.171
263  7.391  7.403  ...  4.001  4.014  4.024  4.028  4.019  3.996  3.957

      2014   2015   2016
0    1.800  1.801  1.800
1    4.981  4.802  4.635
2    5.841  5.766  5.694
3    1.710  1.714  1.713
4      NaN    NaN    NaN
..     ...    ...    ...
259  2.130  2.090  2.060
260  4.215  4.104  3.995
261  2.510  2.485  2.458
262  5.104  5.041  4.981
263  3.903  3.836  3.760

[264 rows x 59 columns]

In [ ]:
#Analysed the df & found out that majority countries had more than half data filled hence will substitute NA values in those countries with the row_avg.
#The remaining countries that have NaN values in all/more than half cols will be dropped.
row_avg = df1.mean(axis=1)
print(row_avg)

0      2.454947
1      7.088719
2      7.042825
3      3.349105
4      1.226000
         ...
259    3.065833
260    7.170140
261    4.078965
262    6.495298
263    5.665070
Length: 264, dtype: float64

<ipython-input-176-62825c95bc73>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  row_avg = df1.mean(axis=1)

In [ ]:
#after analysing df, I found out that countries that have nan val are i.e to be dropped - Andorra[4], American[9],caymen[50],Gibraltor[82],Not classified[108],st.kitts[123],Monaco[147],marshallis[153],northern[162]
#Nauru[177],San Marina[210],Turks[226],Taluvu[243],Brits[253],Kosko[259]
df1.loc[253]

Country Name    British Virgin Islands
Country Code                       VGB
1960                               NaN
1961                               NaN
1962                               NaN
1963                               NaN
1964                               NaN
1965                               NaN
1966                               NaN
1967                               NaN
1968                               NaN
1969                               NaN
1970                               NaN
1971                               NaN
1972                               NaN
1973                               NaN
1974                               NaN
1975                               NaN
1976                               NaN
1977                               NaN
1978                               NaN
1979                               NaN
1980                               NaN
1981                               NaN
1982                               NaN
1983                               NaN
1984                               NaN
1985                               NaN
1986                               NaN
1987                               NaN
1988                               NaN
1989                               NaN
1990                               NaN
1991                               NaN
1992                               NaN
1993                               NaN
1994                               NaN
1995                               NaN
1996                               NaN
1997                               NaN
1998                               NaN
1999                               NaN
2000                               NaN
2001                               NaN
2002                               NaN
2003                               NaN
2004                               NaN
2005                               NaN
2006                               NaN
2007                               NaN
2008                               NaN
2009                               NaN
2010                               NaN
2011                               NaN
2012                               NaN
2013                               NaN
2014                               NaN
2015                               NaN
2016                               NaN
Name: 253, dtype: object

In [ ]:
#Lets first drop these rows!
df1=df1.drop([df1.index[4],df1.index[9],df1.index[50],df1.index[82],df1.index[108],df1.index[123],df1.index[147],df1.index[153],df1.index[162],df1.index[177],df1.index[210],df1.index[226],df1.index[243],df1.index[253],df1.index[259]])
print(df1)

     Country Name Country Code      1960     1961     1962      1963  \
0           Aruba          ABW  4.820000  4.65500  4.47100  4.271000
1     Afghanistan          AFG  7.450000  7.45000  7.45000  7.450000
2          Angola          AGO  7.478000  7.52400  7.56300  7.592000
3         Albania          ALB  6.489000  6.40100  6.28200  6.133000
5      Arab World          ARB  6.948747  6.97137  6.99235  7.009265
..            ...          ...       ...      ...      ...       ...
258         Samoa          WSM  7.651000  7.64500  7.63000  7.604000
260   Yemen, Rep.          YEM  7.488000  7.53100  7.57500  7.621000
261  South Africa          ZAF  6.041000  6.02800  6.01000  5.986000
262        Zambia          ZMB  7.115000  7.16900  7.21400  7.249000
263      Zimbabwe          ZWE  7.158000  7.21500  7.26700  7.311000

         1964      1965      1966      1967  ...      2007      2008  \
0    4.059000  3.842000  3.625000  3.417000  ...  1.763000  1.764000
1    7.450000  7.450000  7.450000  7.450000  ...  6.460000  6.254000
2    7.611000  7.619000  7.618000  7.613000  ...  6.368000  6.307000
3    5.960000  5.773000  5.581000  5.394000  ...  1.668000  1.650000
5    7.020105  7.023159  7.015824  6.998628  ...  3.476805  3.470126
..        ...       ...       ...       ...  ...       ...       ...
258  7.567000  7.519000  7.462000  7.400000  ...  4.450000  4.426000
260  7.665000  7.705000  7.737000  7.760000  ...  5.090000  4.940000
261  5.956000  5.920000  5.878000  5.832000  ...  2.636000  2.619000
262  7.274000  7.291000  7.304000  7.317000  ...  5.642000  5.561000
263  7.347000  7.373000  7.391000  7.403000  ...  4.001000  4.014000

         2009      2010      2011      2012      2013      2014     2015  \
0    1.769000  1.776000  1.783000  1.791000  1.796000  1.800000  1.80100
1    6.038000  5.816000  5.595000  5.380000  5.174000  4.981000  4.80200
2    6.238000  6.162000  6.082000  6.000000  5.920000  5.841000  5.76600
3    1.646000  1.653000  1.668000  1.685000  1.700000  1.710000  1.71400
5    3.469736  3.471666  3.470003  3.461347  3.442829  3.413299  3.37384
..        ...       ...       ...       ...       ...       ...      ...
258  4.388000  4.338000  4.277000  4.212000  4.148000  4.086000  4.02900
260  4.801000  4.674000  4.554000  4.440000  4.327000  4.215000  4.10400
261  2.603000  2.588000  2.572000  2.554000  2.533000  2.510000  2.48500
262  5.478000  5.397000  5.318000  5.242000  5.171000  5.104000  5.04100
263  4.024000  4.028000  4.019000  3.996000  3.957000  3.903000  3.83600

         2016
0    1.800000
1    4.635000
2    5.694000
3    1.713000
5    3.326532
..        ...
258  3.976000
260  3.995000
261  2.458000
262  4.981000
263  3.760000

[249 rows x 59 columns]

In [ ]:
#now I will substitue the rest of the rows(that have more than half colm filled ) i.e having just few NaN values with row_avg using Transpose (T)
df1=df1.T.fillna(df1.mean(axis=1)).T

<ipython-input-179-858568ffa757>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1=df1.T.fillna(df1.mean(axis=1)).T

In [ ]:
#Now, lets chk the updated isnull values. Should be 0 for all!
df1.isnull().sum()

#Yayy!

Country Name    0
Country Code    0
1960            0
1961            0
1962            0
1963            0
1964            0
1965            0
1966            0
1967            0
1968            0
1969            0
1970            0
1971            0
1972            0
1973            0
1974            0
1975            0
1976            0
1977            0
1978            0
1979            0
1980            0
1981            0
1982            0
1983            0
1984            0
1985            0
1986            0
1987            0
1988            0
1989            0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
dtype: int64

In [ ]:
#Now resetting index so that the rows are numbered correctly.
df1.reset_index(drop = True, inplace = True)
print(df1)

     Country Name Country Code      1960     1961     1962      1963  \
0           Aruba          ABW      4.82    4.655    4.471     4.271
1     Afghanistan          AFG      7.45     7.45     7.45      7.45
2          Angola          AGO     7.478    7.524    7.563     7.592
3         Albania          ALB     6.489    6.401    6.282     6.133
4      Arab World          ARB  6.948747  6.97137  6.99235  7.009265
..            ...          ...       ...      ...      ...       ...
244         Samoa          WSM     7.651    7.645     7.63     7.604
245   Yemen, Rep.          YEM     7.488    7.531    7.575     7.621
246  South Africa          ZAF     6.041    6.028     6.01     5.986
247        Zambia          ZMB     7.115    7.169    7.214     7.249
248      Zimbabwe          ZWE     7.158    7.215    7.267     7.311

         1964      1965      1966      1967  ...      2007      2008  \
0       4.059     3.842     3.625     3.417  ...     1.763     1.764
1        7.45      7.45      7.45      7.45  ...      6.46     6.254
2       7.611     7.619     7.618     7.613  ...     6.368     6.307
3        5.96     5.773     5.581     5.394  ...     1.668      1.65
4    7.020105  7.023159  7.015824  6.998628  ...  3.476805  3.470126
..        ...       ...       ...       ...  ...       ...       ...
244     7.567     7.519     7.462       7.4  ...      4.45     4.426
245     7.665     7.705     7.737      7.76  ...      5.09      4.94
246     5.956      5.92     5.878     5.832  ...     2.636     2.619
247     7.274     7.291     7.304     7.317  ...     5.642     5.561
248     7.347     7.373     7.391     7.403  ...     4.001     4.014

         2009      2010      2011      2012      2013      2014     2015  \
0       1.769     1.776     1.783     1.791     1.796       1.8    1.801
1       6.038     5.816     5.595      5.38     5.174     4.981    4.802
2       6.238     6.162     6.082       6.0      5.92     5.841    5.766
3       1.646     1.653     1.668     1.685       1.7      1.71    1.714
4    3.469736  3.471666  3.470003  3.461347  3.442829  3.413299  3.37384
..        ...       ...       ...       ...       ...       ...      ...
244     4.388     4.338     4.277     4.212     4.148     4.086    4.029
245     4.801     4.674     4.554      4.44     4.327     4.215    4.104
246     2.603     2.588     2.572     2.554     2.533      2.51    2.485
247     5.478     5.397     5.318     5.242     5.171     5.104    5.041
248     4.024     4.028     4.019     3.996     3.957     3.903    3.836

         2016
0         1.8
1       4.635
2       5.694
3       1.713
4    3.326532
..        ...
244     3.976
245     3.995
246     2.458
247     4.981
248      3.76

[249 rows x 59 columns]

In [ ]:
#round off years to 1 decimal
df1=df1.round(1)

In [ ]:
#onelast chk for duplicates
df1.duplicated()
duplicate_rows = df1.duplicated(subset=['1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016'])
print(duplicate_rows)

0      False
1      False
2      False
3      False
4      False
       ...
244    False
245    False
246    False
247    False
248    False
Length: 249, dtype: bool

In [ ]:
#A final overview of the df
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 59 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  249 non-null    object
 1   Country Code  249 non-null    object
 2   1960          249 non-null    object
 3   1961          249 non-null    object
 4   1962          249 non-null    object
 5   1963          249 non-null    object
 6   1964          249 non-null    object
 7   1965          249 non-null    object
 8   1966          249 non-null    object
 9   1967          249 non-null    object
 10  1968          249 non-null    object
 11  1969          249 non-null    object
 12  1970          249 non-null    object
 13  1971          249 non-null    object
 14  1972          249 non-null    object
 15  1973          249 non-null    object
 16  1974          249 non-null    object
 17  1975          249 non-null    object
 18  1976          249 non-null    object
 19  1977          249 non-null    object
 20  1978          249 non-null    object
 21  1979          249 non-null    object
 22  1980          249 non-null    object
 23  1981          249 non-null    object
 24  1982          249 non-null    object
 25  1983          249 non-null    object
 26  1984          249 non-null    object
 27  1985          249 non-null    object
 28  1986          249 non-null    object
 29  1987          249 non-null    object
 30  1988          249 non-null    object
 31  1989          249 non-null    object
 32  1990          249 non-null    object
 33  1991          249 non-null    object
 34  1992          249 non-null    object
 35  1993          249 non-null    object
 36  1994          249 non-null    object
 37  1995          249 non-null    object
 38  1996          249 non-null    object
 39  1997          249 non-null    object
 40  1998          249 non-null    object
 41  1999          249 non-null    object
 42  2000          249 non-null    object
 43  2001          249 non-null    object
 44  2002          249 non-null    object
 45  2003          249 non-null    object
 46  2004          249 non-null    object
 47  2005          249 non-null    object
 48  2006          249 non-null    object
 49  2007          249 non-null    object
 50  2008          249 non-null    object
 51  2009          249 non-null    object
 52  2010          249 non-null    object
 53  2011          249 non-null    object
 54  2012          249 non-null    object
 55  2013          249 non-null    object
 56  2014          249 non-null    object
 57  2015          249 non-null    object
 58  2016          249 non-null    object
dtypes: object(59)
memory usage: 114.9+ KB

In [ ]:
#final updated shape
df1.shape

(249, 59)